<div class="container-fluid">
    <div class="bg-light text-center mt-4" *ngIf="!restaurant.name">
        <h2 style="font-style: italic; font-weight: bold; font-size: 24;">Requested restaurant doesn't exist:(</h2>
        <button class="btn btn-primary" style="font-style: italic; font-weight: bold; font-size: 24;" routerLink="/admin">Go back</button>
    </div>
    <div class="mt-4 bg-light" *ngIf="restaurant.name">
        <h2 style="font-style: italic; font-weight: bold;">Update Restaurant Details</h2>

        <form [formGroup]="form" (ngSubmit)="update(form)">
            <div class="form-group">  
                <label>Enter Restaurant Name:</label>
                <input type="text" class="form-control" name="name" formControlName="name">
            </div>
            <div class="form-group">
                <label>Enter Location:</label>
                <input type="text" class="form-control" name="location" formControlName="location">
            </div>
            <div formGroupName="menu" >
                <div class="form-group">
                    <label>Enter comma separated Drinks:</label>
                    <input type="text" class="form-control" name="drinks" formControlName="drinks">
                </div>
                <div class="form-group">
                    <label>Enter comma separated Dishes:</label>
                    <input type="text" class="form-control" name="dishes" formControlName="dishes">
                </div>
            </div>
            <div class="alert-info" *ngIf="!restaurant.reviews.length">
                <h3>No Reviews</h3>
            </div>
            <div *ngIf="restaurant.reviews.length > 0">
                <table class="table table-striped mt-2">
                    <thead>
                      <tr>
                        <th scope="col">Author</th>
                        <th scope="col">Review</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let review of restaurant.reviews">
                        <th scope="row">{{review.reviewer.userName}}</th>
                        <td>{{review.content}}</td>
                        <td>{{review.star_rating}}</td>
                        <td>{{review.review_date | date}}</td>
                        <td><button class="btn btn-danger" (click) = "delete(restaurant._id, review._id)"><i class="fas fa-trash-alt"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="mt-2">
                <button class="btn btn-warning mr-4" routerLink="/admin">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Update Restaurant</button>
            </div>
            
        </form>
    </div>
</div>

