<div class="topNav bg-primary" >
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="bg-warning" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="bg-warning" routerLink="/restaurants">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="bg-warning" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="bg-warning" routerLink="/admin">Add Restaurant </a>
      </li>
    </ul>
</div>
<router-outlet></router-outlet>
